<ion-header [translucent]="true">
  <ion-toolbar class="">
    <ion-title>Histórico de leitura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-item-sliding *ngFor="let historico of historicos">

    <ion-item lines="full" color="light">
      <ion-label>
        <div>
          <p class="textoHora tamanhoTexto">
            {{historico.dataHora}}<ion-icon name="calendar" class="icoCalendar"></ion-icon>
          </p>
          <p class="tamanhoTexto">
            <ion-icon class="iconQrCode" name="qr-code">  </ion-icon>{{historico.leitura}}
          </p>
        </div>
      </ion-label>
    </ion-item>
    
    <ion-item-options side="end">     
      <ion-item-option color="danger">        
        <ion-icon slot="icon-only" name="trash"></ion-icon>      
    </ion-item-option>
  </ion-item-options>

  </ion-item-sliding>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
