.iconQrCode {
    padding-right: 5px;
    color: #66FA5C;
}

.icoCalendar {
    padding-left: 5px;
    color: #4E84DB;
}

.textoHora {
    text-align: right;
}

.tamanhoTexto {
    font-size: 15px;
}

.corTolbar {
    background-color: #000000;
}